.header {
  padding: 10px 0;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.08);

  &__inner {

    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 30px;

    img {
      filter: invert(39%) sepia(99%) saturate(3633%) hue-rotate(230deg) brightness(99%) contrast(94%);
    }
  }

  &__title {
    font-size: 36px;
    color: #625df5;
  }
}